.all-posts{
    margin: 1rem 0;
}

.post{
    min-height: 20rem;
}

.post header{
    display: flex;
    align-items: center;
    /* padding: 0 8px; */
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}